@model DBContext.Models.ContactUs

@{
    ViewData["Title"] = "Recover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title">Are you sure you want to recover this?</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                Customer
                            </dt>
                            <dd>
                                @if (Model.CustomerId != null)
                                {
                                    <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Customers" asp-route-id="@Model.CustomerId">
                                        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Subject)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Subject)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Message)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Message)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.FeaturedSubject)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FeaturedSubject)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsFeatured)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsFeatured)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.FeaturedReply)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FeaturedReply)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Reply)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Reply)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Recover">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Recover" class="btn btn-default" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
