@model IEnumerable<DBContext.Models.Content>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark mb-3">
                    @if (!ViewBag.Closed)
                    {
                        <div class="card-header">
                            <h3 class="card-title">
                                <a asp-action="Create"><i class="fas fa-plus-circle"></i> Add new record</a>
                            </h3>
                        </div>
                    }
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Caption
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>
                                        <img class="img-responsive img-bordered img-md" src="@item.ImageUrl" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemOrder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.Id })"><i class="far fa-edit"></i></a>
                                        <a href="@Url.Action("Details", new { id = item.Id })"><i class="fas fa-info-circle"></i></a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.table').DataTable(
        );
    });
</script>
