@model DBContext.Models.Mail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            
                            <dt>
                                @Html.DisplayNameFor(model => model.RecieverEmail)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RecieverEmail)
                            </dd>
                           
                            <dt>
                                @Html.DisplayNameFor(model => model.Subject)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Subject)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Message)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Message)
                            </dd>
                            

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        
                        <a class="btn btn-default" asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
