@model DBContext.Models.DailyBonus

@{
ViewData["Title"] = "Recover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-teal">
                <div class="card-header">
                    <h3 class="card-title">Are you sure you want to recover this?</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PartsCount)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.PartsCount)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Created)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Modified)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Modified)
                                    </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Recover">
                                    <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Recover" class="btn btn-default" /> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
