@model DBContext.Models.CustomerAnswer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Answer)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Answer)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Customer)
                            </dt>
                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Customers" asp-route-id="@Model.CustomerId">
                                    @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
                                </a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Question)
                            </dt>
                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Questions" asp-route-id="@Model.QuestionId">
                                    @Html.DisplayFor(model => model.Question.Script)
                                </a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.QuestionOption)
                            </dt>
                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="QuestionOptions" asp-route-id="@Model.QuestionOptionId">
                                    @Html.DisplayFor(model => model.QuestionOption.Script)
                                </a>
                            </dd>
                            @if (Model.Question.Type)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.IsRightAnswer)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.IsRightAnswer)
                                </dd>
                            }
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsDeleted)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-default" asp-action="Index" asp-route-CustomerId="@Model.CustomerId" asp-route-AppTaskId="@Model.Question.AppTaskId">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
