@model DBContext.Models.CustomerPrize

@{
ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.PrizeStatus)
                            </dt>
                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" 
                                   asp-controller="PrizeStatus" asp-route-id="@Model.PrizeStatusId">
                                    @Html.DisplayFor(model => model.PrizeStatus.DisplayName)
                                </a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RequestDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RequestDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.EarnDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.EarnDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Customer)
                            </dt>
                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Customers" asp-route-id="@Model.CustomerId">
                                    @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
                                </a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Prize)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Prize.DisplayName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-default" asp-action="Index" asp-route-id="@Model.CustomerId">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
