@model DBContext.Models.MobileAppVersion

@{
ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.IsCurrent)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.IsCurrent)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.IsSupported)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.IsSupported)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.VersionNumber)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.VersionNumber)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.VersionCode)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.VersionCode)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.StoreUrl)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.StoreUrl)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.SyriaStoreUrl)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.SyriaStoreUrl)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.PlatformType)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.PlatformType)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Qrcode)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Qrcode)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.UpdateMsgAr)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.UpdateMsgAr)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.UpdateMsg)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.UpdateMsg)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.NumberOfDownloads)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.NumberOfDownloads)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.NoteAr)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.NoteAr)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Note)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Note)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Created)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Modified)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Modified)
                                        </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-default" asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
