@model DBContext.Models.Message

@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title">Groups</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            @foreach (var item in Model.MessageGroups)
                            {
                                <dt>
                                </dt>
                                <dd>
                                    <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Groups" asp-route-id="@item.GroupId">
                                        @item.Group.DisplayName
                                    </a>
                                </dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title">Are you sure you want to send this?</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.TitleAr)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TitleAr)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ScriptAr)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ScriptAr)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Script)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Script)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsForAll)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsForAll)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Send">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Send" class="btn" style="color:white;background:#20c997;" />
                            <a class="btn btn-default" asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
