@model DBContext.Models.CustomerMessage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal sameLinedl">
                            <dt class=" sameLinedt">
                                Customer
                            </dt>
                            <dd class=" sameLinedd">
                                @if (Model.CustomerId != null)
                                {
                                    <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Customers" asp-route-id="@Model.CustomerId">
                                        @ViewBag.Name
                                    </a>
                                }
                                else
                                {
                                    @ViewBag.Name
                                }
                            </dd>
                            <dt class=" sameLinedt" >
                                PhoneNumber
                            </dt>
                            <dd class=" sameLinedd">
                                @ViewBag.PhoneNumber
                            </dd>
                            <dt class=" sameLinedt">
                                TitleEn
                            </dt>
                                  
                            <dd class=" sameLinedd">
                                @ViewBag.TitleEn
                            </dd>

                            <dt  class=" sameLinedt">
                                TitleAr
                            </dt>
                            <dd  class=" sameLinedd">
                                @ViewBag.TitleAr
                            </dd>
                            <dt  class=" sameLinedt">
                                Message
                            </dt>
                            <dd class=" sameLinedd" >
                                @ViewBag.Script
                            </dd>

                            <dt class=" sameLinedt">
                                Message Ar
                            </dt>
                            <dd  class=" sameLinedd">
                                @ViewBag.ScriptAr
                            </dd>
                            <dt  class=" sameLinedt">
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd  class=" sameLinedd">
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt  class=" sameLinedt">
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd  class=" sameLinedd">
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">

                        <a class="btn btn-default" asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
