@model IEnumerable<DBContext.Models.CustomerMessage>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Replay for Customer";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @if (!ViewBag.isArchive)
                    {
        <div class="card-header">
            <div class="card-title" style="float:right !important;">
                <a asp-action="Index" asp-route-isArchive="true" class="btn pull-right btn-block" style="color:white;background:#20c997;"><i class="fas fa-archive"></i> Archive</a>
            </div>
        </div>}
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message.Script)
                                    </th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
      var controllerName = '@HttpContextAccessor.HttpContext.Session.GetString("ControllerName")';
    var AppTaskId = '@ViewBag.AppTaskId';
        var isArchive = '@ViewBag.isArchive';

    $(function () {
        debugger;
        $('#table').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "order": [[4, "desc"]],
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "ajax": {
                "url": "/" + controllerName + "/IndexPost?isArchive=" + isArchive,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true },  
                { "data": "name", "name": "Name", "autoWidth": true },
                { "data": "title", "name": "Title", "autoWidth": true },
                { "data": "script", "name": "Script", "autoWidth": true },
                
                {
                    data: null, render: function (data, type, row) {
                        if (isArchive == "False") {
                            if (data.customerId != null) {
                                return '<a href="/' + controllerName + '/Details/' + row.id + '"><i class="fas fa-info-circle"></i></a>';
                                    
                            }
                            else {
                                return '<a href="/' + controllerName + '/Details/' + row.id + '"><i class="fas fa-info-circle"></i></a>';
                                    
                            }
                        }
                        else {
                            return '<a href="/' + controllerName + '/Recover/' + row.id + '">Recover</a>';
                        }
                    }
                }
            ]
        })
    })
</script>
