@model IEnumerable<DBContext.Models.UserLog>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "User Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a asp-action="DeleteAll"><i class="fas fa-plus-circle"></i> Delete All Logs</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Platform)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Action)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
      var controllerName = '@HttpContextAccessor.HttpContext.Session.GetString("ControllerName")';
    $(function () {
        $('#table').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "ajax": {
                "url": "/" + controllerName + "/IndexPost",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "platform", "name": "Platform", "autoWidth": true },
                { "data": "action", "name": "Action", "autoWidth": true },
                { "data": "status", "name": "Status", "autoWidth": true },
                {
                    data: null, render: function (data, type, row) {
                        return '<a href="/' + controllerName + '/Details/' + row.id + '"><i class="fas fa-info-circle" ></i></a>' +
                            '<a href="/' + controllerName + '/Delete/' + row.id + '"><i class="far fa-trash-alt"></i></a>';
                    }
                }
            ]
        })
    })
</script>
