@model DBContext.Models.QuestionOption

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Edit</h3>
                    </div>
                    <form asp-action="Edit" asp-route-IsQuiz="@ViewBag.IsQuiz">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ScriptAr" class="control-label"></label>
                                <input asp-for="ScriptAr" class="form-control" />
                                <span asp-validation-for="ScriptAr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Script" class="control-label"></label>
                                <input asp-for="Script" class="form-control" />
                                <span asp-validation-for="Script" class="text-danger"></span>
                            </div>
                            @if (ViewBag.IsQuiz != null && (int)ViewBag.IsQuiz == 1)
                            {
                                <div class="form-group">
                                    <div class="col-12">
                                        <div class="icheck-primary">
                                            @Html.CheckBoxFor(model => model.IsRightOption)
                                            @Html.LabelFor(model => model.IsRightOption)
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" name="IsRightOption" value="True" />
                            }
                            <div class="form-group">
                                <label asp-for="ItemOrder" class="control-label"></label>
                                <input asp-for="ItemOrder" class="form-control" />
                                <span asp-validation-for="ItemOrder" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Created" />
                            <input type="hidden" asp-for="IsDeleted" />
                            <input type="hidden" asp-for="QuestionId" />
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-default float-right" asp-action="Index" asp-route-id="@ViewBag.QuestionId" asp-route-IsQuiz="@ViewBag.IsQuiz">
                                Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

