@model DBContext.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Customer Info</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ImageUrl)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Group)
                            </dt>

                            <dd>
                                <a class="badge badge-info" target="_blank" asp-action="Details" asp-controller="Groups" asp-route-id="@Model.GroupId">
                                    @Html.DisplayFor(model => model.Group.DisplayName)
                                </a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TermsAndConditions)
                            </dt>
                            <dd>
                                @if ((bool)Model.TermsAndConditions)
                                {
                                    <span>Agreed</span>
                                }
                                else
                                {
                                    <span>Didn't Agree</span>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>
                            <dd>
                                @if ((bool)Model.Gender)
                                {
                                    <span>Female</span>
                                }
                                else
                                {
                                    <span>Male</span>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CurrentPoints)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CurrentPoints)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TotalPoints)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalPoints)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LuckyWheelLastSpinDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LuckyWheelLastSpinDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.PhoneNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.PhoneNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.City.DisplayName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Account Info</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.User.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.UserName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.UserName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.PhoneNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.PhoneNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.PhoneNumberConfirmed)
                            </dt>
                            <dd>
                                @if ((bool)Model.User.PhoneNumberConfirmed)
                                {
                                    <span>Confirmed</span>
                                }
                                else
                                {
                                    <span>Not Confirmed</span>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.LockoutEnd)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.LockoutEnd)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.User.AccessFailedCount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.AccessFailedCount)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-default" asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
