@model DBContext.Models.Customer

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title">Are you sure you want to reset this user's password?</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                Icon
                            </dt>
                            <dd>
                                <img class="img-responsive img-bordered img-lg" src="@Model.ImageUrl" />
                            </dd>
                        </dl>
                        <div class="clearfix"></div>
                        <dl class="dl-horizontal">
                            <dt>
                                Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            
                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>
                            <dd>
                                @if ((bool)Model.Gender)
                                {
                                    <span>Female</span>
                                }
                                else
                                {
                                    <span>Male</span>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CurrentPoints)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CurrentPoints)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TotalPoints)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalPoints)
                            </dd>
                            
                            <dt>
                                @Html.DisplayNameFor(model => model.User.PhoneNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.User.PhoneNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.City.DisplayName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="ResetPassword">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input name="Password" value="GamesApp@2020" class="form-control" />
                            </div>
                            <input type="submit" value="Reset" class="btn btn-success" />
                            <a class="btn btn-default" asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
